body
{
    background-color: var(--black);
}

/*Lien(s)*/
a
{
    color: var(--white);
    text-decoration: none;
    text-align: center;

    transition: all 150ms ease;
}

a:hover
{
    color: var(--red);
}

.main_wrapper
{
    padding: 1.5%;
}

/*Message de bienvenue*/
.main_wrapper > h2
{
    color: var(--white);
    text-align: center;
}

/*Catalogue -> Disposition des éléments*/
.catalog
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Fiche produit dans le catalogue*/
.catalog > div
{
    background-color: var(--black);
    border: 3px var(--dark_black) solid;
    box-shadow: 7px 7px var(--dark_black);

    color: var(--white);
    margin: 2%;

    height: 24em;
    width: 17em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Bandeau produits soldés*/
.on_sale
{
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    padding: 1%;
    border-top: 3px var(--light_red) solid;
    box-shadow: 0px 6px var(--dark_black);
}

.product_name
{
    text-align: center;
    font-family: var(--title);
}

.product_image
{
    width: 87%;
    margin: auto;
}

.product_image > img
{
    width: 100%;
}

.product_info
{
    padding: 5%;
}

/*Liens de redirection vers la fiche d'un produit*/
.link
{
    padding-bottom: 5%;
}
